name: python-tests

on:
  pull_request:
    branches:
    - main

jobs:
  python-tests:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Pip install dependencies
      shell: bash -l {0}
      run: |
        python3 -m pip install --upgrade pip
        pip3 install -r dev_requirements.txt
    
    - name: Lint check
      shell: bash -l {0}
      run: |
        ruff check --select I api
    
    - name: Format check
      shell: bash -l {0}
      run: |
        ruff format api --check

    - name: Format check
      shell: bash -l {0}
      run: |
        pytest -v -s --mypy api